h1#page-title{
    font-family: monospace;
    text-align: center;
}


#question{
    margin: 200px;
    width: 50%;
    padding: 10px;
    -webkit-animation: fadein 5s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#body-wrapper{
    z-index: 10;
}

#next-question{
    position: fixed;
}